.board {
  height: 90vh;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: flex-start;
  /* Align columns to the top */
}

.column {
  height: 100%;
  width: 20em;
  padding: 0.5em;
  margin: 1em;
  float: left;
  border: 1px solid #333333;
  overflow-y: hidden;
  border-radius: 5px;
}

.column-content {
  height: calc(100% - 2.5em);
  overflow-y: scroll;
}

.column-title {
  margin-bottom: 1em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;

}

.card {
  width: 90%;
  margin: 0.4em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border: 0.5px solid #333333;
  border-radius: 5px;
  height: 5em;
  position: relative;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  background-image: none;
  padding: 2px 6px;
  color: #dc3545;
  /* background-color: transparent; */
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  transition: background-color 0.5s, color 0.2s, border-color 0.5s;
  opacity: 0;
}

.delete-button:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  opacity: 1;
}

.delete-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.wrapper {
  height: 100%;
  /* width: 100%; */
  /*Notice we make sure this container doesn't scroll so that the title stays on top and the dndzone inside is scrollable*/
  overflow-y: hidden;
}

.card-addition input[type="text"] {
  width: 80%; /* Set the input width to 100% to match the container's width */
  padding: 0.5em; /* Add some padding for spacing */
  margin: auto;
  /* margin-top: 2em; */
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ccc;
}